
body{
	font: 13px/19px  Arial, Helvetica, sans-serif;
	color:red;
	position:relative;
	min-width:960px;
	background: "green";
}

# no style in ul here
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

li {
    float: left;
}

a {
    display: block;
    width: 60px;
}